@import "tailwindcss";

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.8); /* gray-600 */
  border-radius: 9999px;
  border: 3px solid transparent; /* gap */
  background-clip: padding-box;
  transition: all;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(118, 121, 126);
}
